.wrapper {
  text-align: center
}

.button {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid navy;
  border-radius: 10px;
  font-size: 24px;
  background-color: navy;
  color: white;
  outline: none;
}

.buttonEnded{
  padding: 15px;
  margin-top: 20px;
  border: 1px solid maroon;
  border-radius: 10px;
  font-size: 20px;
  background-color: maroon;
  color: white;
  outline: none;  
}

.button:hover {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 128, 0.8);
  border-radius: 10px;
  background-color: rgba(0, 0, 128, 0.8);
  color: white; 
  outline: none;
}

.pEnded {
  font-family: Helvetica;
  font-weight: lighter;
}

.foodType {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Helvetica;
  margin-top: 10px;
}

.foodWrapper {
  height: 300px;
  width: 380px;
  border-radius: 5px;  
}


.foodName {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.background{
  background-image: url("./imgs/background2.jpg");
  width: 100%;
  height: 32%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 32%;
  background-color: rgb(255,255,255,0.6);
  margin-top: 5px;
}

.heading{
  width: 40%;
  color: black;
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.tab {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  line-height: 24px;
  display: inline-flex;
  border: 2px solid navy;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  height: 30px;
}

.middleList {
  border-right: 2px solid navy;
  border-left: 2px solid navy;
}

.tab li {
  width: 100px;
  padding: 5px 10px;
  background: white;
  display: inline-block;
  font-size: 18px;
}

#active{
  color: white;
  background: navy;
  font-weight: bold;
}

.tab li:hover{
  background: rgb(223, 230, 253);
  font-weight: bold
}

@media only screen and (max-width: 600px) {
  .foodWrapper {
    height: 200px;
    width: 240px;
    border-radius: 5px  
  }
  
  .heading{
    width: 60%;
  }
  .foodType {
    margin: 0px;
  }
  
  .header{
    margin-top: 0px;
  }

  .button {
    margin-top:50px;
    font-size: 18px;
    padding: 10px;
  }

  .buttonEnded {
    font-size: 40px;
    padding: 10px;
  }

  .button:hover {
    margin-top:50px;
    font-size: 18px;
    padding: 10px;
  }

  .foodName {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 50px;
  }
  

  .tab li{
    font-size: 15px;
    padding: 5px 3px;
  }
}