@import './css/tab.css';
@import './css/button.css';
@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.wrapper {
  text-align: center;
  width: 100%;
}


.pEnded {
  font-family: Roboto;
  font-weight: lighter;
}

.foodType {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Roboto;
  margin-top: 10px;
}

.foodWrapper {
  height: 300px;
  width: 380px;
  border-radius: 5px;
}


.foodName {
  font-size: 24px;
  font-weight: bold;
  margin: 60px 0px 20px 0px;
}

.background{
  background-image: url("./imgs/background2.jpg");
  width: 100%;
  height: 32%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 32%;
  background-color: rgb(255,255,255,0.6);
  margin-top: 5px;
}

.heading{
  width: 100%;
  color: black;
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}









@media only screen and (max-width: 600px) {
  .foodWrapper {
    height: 200px;
    width: 240px;
    border-radius: 5px
  }

  .foodName {
    margin: 20px 0px 0px 0px;
  }

  .heading{
    width: 100%;
    font-size: 20px;
  }
  .foodType {
    margin: 0px;
  }

  .header{
    margin-top: 0px;
  }

  .button {
    margin-top:50px;
    font-size: 18px;
    padding: 10px;
  }

  .buttonEnded {
    margin-top: 50px;
    font-size: 18px;
    padding: 10px;
  }

  .button:hover {
    margin-top:50px;
    font-size: 18px;
    padding: 10px;
  }

  .foodName {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 50px;
  }

  .tab {
    margin-top: 10px;
  }

  .tab li{
    font-size: 15px;
    padding: 5px 3px;
    width: 80px;
  }
}
